@import 'tailwindcss';

@theme {
  --color-primary: #1eaf56;
  --color-primary-dark: #178a3d;
  --color-primary-light: #a7f3d0;
  --color-secondary: #fbbf24;
  --color-secondary-dark: #f59e0b;
  --color-secondary-light: #fef3c7;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-error: #ef4444;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-disabled: #9ca3af;
  --color-background: #f9fafb;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-secondary);
  }
}
