name: CI

on:
  push:
    branches:
      - main

jobs:
  test-run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repository
        uses: actions/checkout@v4

      - name: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: npm install
        run: npm ci

      - name: npm run lint
        run: npm run lint

      - name: typecheck
        run: tsc --noEmit --p tsconfig.app.json

      - name: npm run test
        run: npm run test
